<div mat-dialog-title>
    <h1>Edit Mata Pelajaran</h1>
</div>

<form [formGroup]="dataMapelForm" (ngSubmit)="submit()">
    <div mat-dialog-content class="content">
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Mata Pelajaran</mat-label>
                <input matInput formControlName="mapel" required>
                <mat-error>Masukkan Mata Palajaran terlebih dahulu</mat-error>
            </mat-form-field>
        </div>
        <!-- <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>KKM</mat-label>
                <input matInput type="text" formControlName="kkm" required>
                <mat-error>Masukkan nama terlebih dahulu</mat-error>
            </mat-form-field>
        </div> -->
        <!-- <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Kelas</mat-label>
                <mat-select formControlName="kelas" required >
                    <mat-option  *ngFor="let kls of kelas" [value]="kls.kelas">{{kls.kelas}} </mat-option>
                </mat-select>
                <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
            </mat-form-field>
        </div> -->
        <!-- <div>
            <mat-form-field appearance="outline" class="field">
              <mat-label>Tema</mat-label>
              <input matInput formControlName="tema" [matAutocomplete]="autoTema" required ngDefaultControl>
              <mat-autocomplete #autoTema="matAutocomplete">
                <mat-option *ngFor="let ut of unikTema" [value]="ut">
                  {{ut}}
                </mat-option>
              </mat-autocomplete>
              <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Sub Tema</mat-label>
                <input matInput formControlName="tema" [matAutocomplete]="autoTema" required ngDefaultControl>
                <mat-autocomplete #autoTema="matAutocomplete">
                    <mat-option  *ngFor="let tm of tema" [value]="tm.sub_tema">{{tm.sub_tema}}</mat-option>
                </mat-autocomplete>
                <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
            </mat-form-field>
        </div> -->

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button color="basic" class="btn-flex" [mat-dialog-close]="true">Batal</button>
        <button mat-raised-button color="primary" class="btn-flex" type="submit">Simpan</button>
    </div>
</form>