<div mat-dialog-title>
    <h1>Edit Guru</h1>
</div>
<div mat-dialog-content class="content">
    <div>
        <mat-form-field appearance="outline" class="field">
            <mat-label>NIP</mat-label>
            <input matInput>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Nama</mat-label>
            <input matInput>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Username</mat-label>
            <input matInput>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Password</mat-label>
            <input matInput>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Alamat</mat-label>
            <input matInput>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Jabatan</mat-label>
            <input matInput>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="field">
            <mat-label>No. Hp</mat-label>
            <input matInput>
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Status</mat-label>
            <mat-select>
                <mat-option value="Aktif">Aktif</mat-option>
                <mat-option value="Non Aktif">Non Aktif</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
      
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary">Batal</button>
    <button mat-raised-button color="primary">Simpan</button>
</div>