<div mat-dialog-title>
    <h1>Tambah Mata Pelajaran</h1>
</div>

<form [formGroup]="dataMapelForm">
    <div mat-dialog-content class="content">
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Mata Pelajaran</mat-label>
                <input matInput formControlName="mapel" required>
                <mat-error>Masukkan NIP terlebih dahulu</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>KKM</mat-label>
                <input matInput type="text" formControlName="kkm" required>
                <mat-error>Masukkan nama terlebih dahulu</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Kelas</mat-label>
                <mat-select formControlName="kelas" required >
                    <mat-option  *ngFor="let kls of kelas" [value]="kls.kelas">{{kls.kelas}} </mat-option>
                </mat-select>
                <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Tema</mat-label>
                <mat-select formControlName="tema" required >
                    <mat-option  *ngFor="let tm of tema" [value]="tm.tema">{{tm.tema}} {{tm.sub_tema}}</mat-option>
                </mat-select>
                <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button color="basic" class="btn-flex" [mat-dialog-close]="true">Batal</button>
        <button mat-raised-button color="primary" class="btn-flex" type="submit" (click)="simpan()">Simpan</button>
    </div>
</form>