<div class="padding">
    <h1>Tema</h1>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Tema</mat-label>
        <input matInput placeholder="Masukkan Tema">
    </mat-form-field>

    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="add()">Tambah Tema</button>
        </div>
    </section>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataTema" class="mat-elevation-z8">

        <!-- Name Column -->
        <ng-container matColumnDef="no" >
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
        </ng-container>

        <ng-container matColumnDef="mapel">
            <th mat-header-cell *matHeaderCellDef> Mapel </th>
            <td mat-cell *matCellDef="let element"> {{element.mapel}} </td>
        </ng-container>

        <ng-container matColumnDef="tema">
            <th mat-header-cell *matHeaderCellDef> Tema </th>
            <td mat-cell *matCellDef="let element"> {{element.tema}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sub_tema">
            <th mat-header-cell *matHeaderCellDef> Sub Tema </th>
            <td mat-cell *matCellDef="let element"> {{element.sub_tema}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <div>
                    <button mat-icon-button color="primary" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="delete(element)">

                        <!-- (click)="hapusDataGuru(element.id) => untuk hapus langsung -->

                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Pilih page dari Guru"
    class="mat-elevation-z8"></mat-paginator>
</div>