<div class="padding">
    <h1>Dashboard</h1>

<mat-grid-list cols="3" rowHeight="2:1">

   <mat-grid-tile>
       <!-- Cards with media area -->
       <mat-card class="example-card" style="background-color: lightcoral;">
           <mat-card-header>
               <mat-card-title-group>
                   <mat-card-title>Profil Guru</mat-card-title>
                   <mat-card-subtitle></mat-card-subtitle>
               </mat-card-title-group>
           </mat-card-header>
           <mat-card-content>
               <div class="img">
                   <img src="assets/images/guru.png">
                 </div>
           </mat-card-content>
       </mat-card>
   </mat-grid-tile>

   <mat-grid-tile>
       <!-- Cards with media area -->
       <mat-card class="example-card" style="background-color: lightgoldenrodyellow;">
           <mat-card-header>
               <mat-card-title-group>
                   <mat-card-title>Siswa</mat-card-title>
                   <mat-card-subtitle>{{totalDataSiswa()}}</mat-card-subtitle>
               </mat-card-title-group>
           </mat-card-header>
           <mat-card-content>
               <div class="img">
                   <img src="assets/images/siswa.png">
                 </div>
           </mat-card-content>
       </mat-card>
   </mat-grid-tile>

   <mat-grid-tile>
       <!-- Cards with media area -->
       <mat-card class="example-card" style="background-color: lightsalmon;">
           <mat-card-header>
               <mat-card-title-group>
                   <mat-card-title>Nilai</mat-card-title>
                   <mat-card-subtitle>{{ totalDataNilai()}}</mat-card-subtitle>
               </mat-card-title-group>
           </mat-card-header>
           <mat-card-content>
               <div class="img">
                   <img src="assets/images/nilai.png">
                 </div>
           </mat-card-content>
       </mat-card>
   </mat-grid-tile>

   <mat-grid-tile>
       <!-- Cards with media area -->
       <mat-card class="example-card" style="background-color: lightsteelblue;">
           <mat-card-header>
               <mat-card-title-group>
                   <mat-card-title>KKM</mat-card-title>
                   <mat-card-subtitle>{{totalDataKkm()}}</mat-card-subtitle>
               </mat-card-title-group>
           </mat-card-header>
           <mat-card-content>
               <div class="img">
                   <img src="assets/images/mapel.png">
                 </div>
           </mat-card-content>
       </mat-card>
   </mat-grid-tile>

   <mat-grid-tile>
       <!-- Cards with media area -->
       <mat-card class="example-card" style="background-color: lightcyan">
           <mat-card-header>
               <mat-card-title-group>
                   <mat-card-title>Laporan</mat-card-title>
                   <mat-card-subtitle>{{totalDataLaporan()}}</mat-card-subtitle>
               </mat-card-title-group>
           </mat-card-header>
           <mat-card-content>
               <div class="img">
                   <img src="assets/images/laporan.png">
                 </div>
           </mat-card-content>
       </mat-card>
   </mat-grid-tile>
</mat-grid-list>
</div>