<div class="padding">
     <h1>Dashboard</h1>

<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <!-- Cards with media area -->
        <mat-card class="example-card" style="background-color: lightgreen;">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Admin</mat-card-title>
                    <mat-card-subtitle>{{ totalDataAdmin()}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <div class="img">
                    <img src="assets/images/user.png">

                  </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <!-- Cards with media area -->
        <mat-card class="example-card" style="background-color: lightcoral;">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Guru</mat-card-title>
                    <mat-card-subtitle>{{ totalDataGuru() }}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <div class="img">
                    <img src="assets/images/guru.png">
                  </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <!-- Cards with media area -->
        <mat-card class="example-card" style="background-color: lightgoldenrodyellow;">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Siswa</mat-card-title>
                    <mat-card-subtitle>{{totalDataSiswa()}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <div class="img">
                    <img src="assets/images/siswa.png">
                  </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <!-- Cards with media area -->
        <mat-card class="example-card" style="background-color: lightsalmon;">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Kelas</mat-card-title>
                    <mat-card-subtitle>{{totalDataKelas()}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <div class="img">
                    <img src="assets/images/kelas.png">
                  </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <!-- Cards with media area -->
        <mat-card class="example-card" style="background-color: lightsteelblue;">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Mata Pelajaran</mat-card-title>
                    <mat-card-subtitle>{{totalDataMapel()}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <div class="img">
                    <img src="assets/images/mapel.png">
                  </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <!-- Cards with media area -->
        <mat-card class="example-card" style="background-color: lightcyan">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>Tema</mat-card-title>
                    <mat-card-subtitle>{{totalDataTema()}}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                <div class="img">
                    <img src="assets/images/laporan.png">
                  </div>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
</div>