<div class="padding">

    <mat-form-field appearance="outline" class="field">
        <mat-label>NIP/Nama</mat-label>
        <input matInput placeholder="Masukkan NIP/Nama">
    </mat-form-field>

<section>
    <div class="example-button-row">
        <button mat-raised-button color="primary">Cari</button>
        <button mat-raised-button color="primary" (click)="add()">Tambah Data</button>
    </div>
</section>
<mat-divider></mat-divider>

<table class="mat-elevation-z8">
    <thead class="thead">
        <tr>
            <td>No</td>
            <td>NIP</td>
            <td>Nama</td>
            <td>Username</td>
            <td>Password</td>
            <td>Alamat</td>
            <td>Jabatan</td>
            <td>No. Hp</td>
            <td>Status</td>
            <td>Action</td>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of addGuruArr;">
            <td></td>
            <td>{{item.nip}}</td>
            <td>{{item.nama}}</td> 
            <td>{{item.username}}</td>
            <td>{{item.password}}</td>
            <td>{{item.alamat}}</td>
            <td>{{item.jabatan}}</td>
            <td>{{item.hp}}</td>
            <td>{{item.status}}</td>
            <div>
                <button mat-icon-button color="primary" (click)="edit()">
                    <mat-icon >edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="delete()">
                    <mat-icon >delete</mat-icon>
                </button>
            </div>

        </tr>
    </tbody>

</table>

</div>