<div class="padding">
    <h1>Mata Pelajaran</h1>
    
    <mat-form-field appearance="outline" class="field">
        <mat-label>Pencarian</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Contoh. Rui Faqri" #input>
    </mat-form-field>

    <!-- <mat-form-field appearance="outline" class="field">
        <mat-select required>
            <mat-option  *ngFor="let siswa of kelas" [value]="siswa.nis">{{siswa.nama}}</mat-option>
        </mat-select>
        <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
    </mat-form-field> -->

    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="add()">Tambah Mata Pelajaran</button>
        </div>
    </section>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataMapel" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->

        <!-- Name Column -->
        <ng-container matColumnDef="mapel">
            <th mat-header-cell *matHeaderCellDef> Mata Pelajaran </th>
            <td mat-cell *matCellDef="let element"> {{element.mapel}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="kkm">
            <th mat-header-cell *matHeaderCellDef> KKM </th>
            <td mat-cell *matCellDef="let element"> {{element.kkm}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="kelas">
            <th mat-header-cell *matHeaderCellDef> Kelas </th>
            <td mat-cell *matCellDef="let element"> {{element.kelas}} </td>
        </ng-container>

        <ng-container matColumnDef="tema">
            <th mat-header-cell *matHeaderCellDef> Tema </th>
            <td mat-cell *matCellDef="let element"> {{element.tema}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <div>
                    <button mat-icon-button color="primary" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="delete(element)">

                        <!-- (click)="hapusDataGuru(element.id) => untuk hapus langsung -->

                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Pilih page dari Guru"
    class="mat-elevation-z8"></mat-paginator>
</div>