<div class="padding">
    <h1>Kelas</h1>
    
    <mat-form-field appearance="outline" class="field">
        <mat-label>Pencarian</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Masukkan Kelas/Wali Kelas" #input>
    </mat-form-field>

    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="add()">Tambah Kelas</button>
        </div>
    </section>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="dataKelas" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="no" >
            <th mat-header-cell *matHeaderCellDef> No </th>
            <td mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="kelas">
            <th mat-header-cell *matHeaderCellDef> Kelas </th>
            <td mat-cell *matCellDef="let element"> {{element.kelas}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="jumlah_siswa">
            <th mat-header-cell *matHeaderCellDef> Jumlah Siswa </th>
            <td mat-cell *matCellDef="let element"> {{element.jumlah_siswa}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="wali_kelas">
            <th mat-header-cell *matHeaderCellDef> Wali Kelas </th>
            <td mat-cell *matCellDef="let element"> {{element.wali_kelas}} </td>
        </ng-container>

        <ng-container matColumnDef="ta">
            <th mat-header-cell *matHeaderCellDef> Tahun Ajaran </th>
            <td mat-cell *matCellDef="let element"> {{element.ta}}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <div>
                    <button mat-icon-button color="primary" (click)="edit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="delete(element)">

                        <!-- (click)="hapusDataGuru(element.id) => untuk hapus langsung -->

                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Pilih page dari Guru"
    class="mat-elevation-z8"></mat-paginator>
</div>