<div mat-dialog-title>
    <h1>Edit Guru</h1>
</div>

<form [formGroup]="dataKelasForm" (ngSubmit)="submit()">
    <div mat-dialog-content class="content">
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Kelas</mat-label>
                <input matInput formControlName="kelas" required>
                <mat-error>Masukkan NIP terlebih dahulu</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Jumlah Siswa</mat-label>
                <input matInput type="text" formControlName="jumlah_siswa" required>
                <mat-error>Masukkan nama terlebih dahulu</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Wali Kelas</mat-label>
                <mat-select formControlName="wali_kelas" required >
                    <mat-option  *ngFor="let gr of posts" [value]="gr.nama">{{gr.nama}} </mat-option>
                </mat-select>
                <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Tahun Ajaran</mat-label>
                <mat-select formControlName="ta" required>
                    <mat-option value="2022/2023 Ganjil">2022/2023 Ganjil</mat-option>
                    <mat-option value="2022/2023 Genap">2022/2023 Genap</mat-option>
                </mat-select>
                <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button color="basic" class="btn-flex" [mat-dialog-close]="true">Batal</button>
        <button mat-raised-button color="primary" class="btn-flex" type="submit">Simpan</button>
    </div>
</form>