.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 400px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.bio {
  margin-left: 1150px;
}

.logout{
  margin-left: auto;
}
