<div class="padding">
    <img mat-card-image src="assets/images/tut-wuri.png" class="img">
    <h1>Profil Guru</h1>
    <mat-list *ngIf="data">
        <mat-list-item>NIP :</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Nama : {{data.nama}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Alamat :</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Jabatan :</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>No. Hp :</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Status :</mat-list-item>
    </mat-list>

</div>