<div mat-dialog-title>
    <h1>Edit Nilai</h1>
</div>

<form [formGroup]="dataNilaiForm">
    <div mat-dialog-content class="content">

        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>NIS</mat-label>
                <input matInput formControlName="nis" [matAutocomplete]="autoNis" required>
                <mat-autocomplete #autoNis="matAutocomplete" #singleSelect required>
                    <ngx-mat-select-search ngDefaultControl></ngx-mat-select-search>
                    <mat-option *ngFor="let unis of unikNis" [value]="unis">
                        {{unis}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Nama</mat-label>
                <input matInput formControlName="nama" [matAutocomplete]="autoNama" required>
                <mat-autocomplete #autoNama="matAutocomplete" #singleSelect required>
                    <ngx-mat-select-search ngDefaultControl></ngx-mat-select-search>
                    <mat-option *ngFor="let unm of unikNama" [value]="unm">
                        {{unm}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Nilai</mat-label>
                <input matInput type="text" formControlName="nilai" required>
                <mat-error>Masukkan nama terlebih dahulu</mat-error>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Mata Pelajaran</mat-label>
                <input matInput formControlName="mapel" [matAutocomplete]="autoMapel" required>
                <mat-autocomplete #autoMapel="matAutocomplete" #singleSelect required>
                    <ngx-mat-select-search ngDefaultControl></ngx-mat-select-search>
                    <mat-option *ngFor="let um of unikMapel" [value]="um">
                        {{um}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="field">
              <mat-label>Tema</mat-label>
              <input matInput formControlName="tema" [matAutocomplete]="autoTema" required ngDefaultControl>
              <mat-autocomplete #autoTema="matAutocomplete">
                <mat-option *ngFor="let ut of unikTema" [value]="ut">
                  {{ut}}
                </mat-option>
              </mat-autocomplete>
              <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
            </mat-form-field>
          </div>

        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>Sub Tema</mat-label>
                <input matInput formControlName="sub_tema" [matAutocomplete]="autoSubTema" required>
                <mat-autocomplete #autoSubTema="matAutocomplete" #singleSelect required>
                    <ngx-mat-select-search ngDefaultControl></ngx-mat-select-search>
                    <mat-option *ngFor="let ust of unikSubTema" [value]="ust">
                        {{ust}}
                    </mat-option>
                </mat-autocomplete>
                <mat-autocomplete></mat-autocomplete>
                <mat-error>Masukkan Jabatan terlebih dahulu</mat-error>
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button color="basic" class="btn-flex" [mat-dialog-close]="true">Batal</button>
        <button mat-raised-button color="primary" class="btn-flex" type="submit" (click)="simpan()">Simpan</button>
    </div>
</form>