<div class="padding">
    <h1>Laporan</h1>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Pencarian</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Masukkan NIS/Nama" #input>
    </mat-form-field>

    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="cetak()">Cetak ke PDF</button>
            <button mat-raised-button color="primary" (click)="excel()">Cetak ke Excel</button>
        </div>
    </section>

    <div id="nilai" #tabel>
        <table mat-table [dataSource]="dataLaporan" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="nis">
                <th mat-header-cell *matHeaderCellDef> NIS </th>
                <td mat-cell *matCellDef="let element"> {{element.nis}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="nama">
                <th mat-header-cell *matHeaderCellDef> Nama </th>
                <td mat-cell *matCellDef="let element"> {{element.nama}} </td>
            </ng-container>

            <ng-container matColumnDef="nilaiMapel1">
                <th mat-header-cell *matHeaderCellDef> IPA </th>
                <td mat-cell *matCellDef="let element">
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 1 IPA']?.jumlah < 65}">T1: {{element.nilaiPerTema['Tema 1 IPA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 2 IPA']?.jumlah < 65}">T2: {{element.nilaiPerTema['Tema 2 IPA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 3 IPA']?.jumlah < 65}">T3: {{element.nilaiPerTema['Tema 3 IPA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 4 IPA']?.jumlah < 65}">T4: {{element.nilaiPerTema['Tema 4 IPA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 5 IPA']?.jumlah < 65}">T5: {{element.nilaiPerTema['Tema 5 IPA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 6 IPA']?.jumlah < 65}">T6: {{element.nilaiPerTema['Tema 6 IPA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 7 IPA']?.jumlah < 65}">T7: {{element.nilaiPerTema['Tema 7 IPA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 8 IPA']?.jumlah < 65}">T8: {{element.nilaiPerTema['Tema 8 IPA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 9 IPA']?.jumlah < 65}">T9: {{element.nilaiPerTema['Tema 9 IPA']?.jumlah}}</h5>

                    Total Nilai: {{element.nilaiPerMapel.IPA.total}} <br>
                </td>
            </ng-container>

            <ng-container matColumnDef="nilaiMapel2">
                <th mat-header-cell *matHeaderCellDef> MTK </th>
                <td mat-cell *matCellDef="let element">
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 1 MTK']?.jumlah < 65}">T1: {{element.nilaiPerTema['Tema 1 MTK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 2 MTK']?.jumlah < 65}">T2: {{element.nilaiPerTema['Tema 2 MTK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 3 MTK']?.jumlah < 65}">T3: {{element.nilaiPerTema['Tema 3 MTK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 4 MTK']?.jumlah < 65}">T4: {{element.nilaiPerTema['Tema 4 MTK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 5 MTK']?.jumlah < 65}">T5: {{element.nilaiPerTema['Tema 5 MTK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 6 MTK']?.jumlah < 65}">T6: {{element.nilaiPerTema['Tema 6 MTK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 7 MTK']?.jumlah < 65}">T7: {{element.nilaiPerTema['Tema 7 MTK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 8 MTK']?.jumlah < 65}">T8: {{element.nilaiPerTema['Tema 8 MTK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 9 MTK']?.jumlah < 65}">T9: {{element.nilaiPerTema['Tema 9 MTK']?.jumlah}}</h5>

                    Total Nilai: {{element.nilaiPerMapel['MTK']?.total}} <br>
                </td>

            </ng-container>



            <ng-container matColumnDef="nilaiMapel3">
                <th mat-header-cell *matHeaderCellDef> BINDO </th>
                <td mat-cell *matCellDef="let element">
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 1 Bahasa Indonesia']?.jumlah < 65}">T1: {{element.nilaiPerTema['Tema 1 Bahasa Indonesia']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 2 Bahasa Indonesia']?.jumlah < 65}">T2: {{element.nilaiPerTema['Tema 2 Bahasa Indonesia']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 3 Bahasa Indonesia']?.jumlah < 65}">T3: {{element.nilaiPerTema['Tema 3 Bahasa Indonesia']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 4 Bahasa Indonesia']?.jumlah < 65}">T4: {{element.nilaiPerTema['Tema 4 Bahasa Indonesia']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 5 Bahasa Indonesia']?.jumlah < 65}">T5: {{element.nilaiPerTema['Tema 5 Bahasa Indonesia']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 6 Bahasa Indonesia']?.jumlah < 65}">T6: {{element.nilaiPerTema['Tema 6 Bahasa Indonesia']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 7 Bahasa Indonesia']?.jumlah < 65}">T7: {{element.nilaiPerTema['Tema 7 Bahasa Indonesia']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 8 Bahasa Indonesia']?.jumlah < 65}">T8: {{element.nilaiPerTema['Tema 8 Bahasa Indonesia']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 9 Bahasa Indonesia']?.jumlah < 65}">T9: {{element.nilaiPerTema['Tema 9 Bahasa Indonesia']?.jumlah}}</h5>

                    Total Nilai: {{element.nilaiPerMapel['BAHASA INDONESIA']?.total}} <br>

                </td>
            </ng-container>

            <ng-container matColumnDef="nilaiMapel4">
                <th mat-header-cell *matHeaderCellDef> PPKN </th>
                <td mat-cell *matCellDef="let element">
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 1 PPKN']?.jumlah < 65}">T1: {{element.nilaiPerTema['Tema 1 PPKN']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 2 PPKN']?.jumlah < 65}">T2: {{element.nilaiPerTema['Tema 2 PPKN']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 3 PPKN']?.jumlah < 65}">T3: {{element.nilaiPerTema['Tema 3 PPKN']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 4 PPKN']?.jumlah < 65}">T4: {{element.nilaiPerTema['Tema 4 PPKN']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 5 PPKN']?.jumlah < 65}">T5: {{element.nilaiPerTema['Tema 5 PPKN']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 6 PPKN']?.jumlah < 65}">T6: {{element.nilaiPerTema['Tema 6 PPKN']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 7 PPKN']?.jumlah < 65}">T7: {{element.nilaiPerTema['Tema 7 PPKN']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 8 PPKN']?.jumlah < 65}">T8: {{element.nilaiPerTema['Tema 8 PPKN']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 9 PPKN']?.jumlah < 65}">T9: {{element.nilaiPerTema['Tema 9 PPKN']?.jumlah}}</h5>

                    Total Nilai: {{element.nilaiPerMapel['PPKN']?.total}} <br>

                </td>
            </ng-container>

            <ng-container matColumnDef="nilaiMapel5">
                <th mat-header-cell *matHeaderCellDef> IPS </th>
                <td mat-cell *matCellDef="let element">
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 1 IPS']?.jumlah < 65}">T1: {{element.nilaiPerTema['Tema 1 IPS']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 2 IPS']?.jumlah < 65}">T2: {{element.nilaiPerTema['Tema 2 IPS']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 3 IPS']?.jumlah < 65}">T3: {{element.nilaiPerTema['Tema 3 IPS']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 4 IPS']?.jumlah < 65}">T4: {{element.nilaiPerTema['Tema 4 IPS']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 5 IPS']?.jumlah < 65}">T5: {{element.nilaiPerTema['Tema 5 IPS']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 6 IPS']?.jumlah < 65}">T6: {{element.nilaiPerTema['Tema 6 IPS']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 7 IPS']?.jumlah < 65}">T7: {{element.nilaiPerTema['Tema 7 IPS']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 8 IPS']?.jumlah < 65}">T8: {{element.nilaiPerTema['Tema 8 IPS']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 9 IPS']?.jumlah < 65}">T9: {{element.nilaiPerTema['Tema 9 IPS']?.jumlah}}</h5>

                    Total Nilai: {{element.nilaiPerMapel['IPS']?.total}} <br>

                </td>
            </ng-container>

            <ng-container matColumnDef="nilaiMapel6">
                <th mat-header-cell *matHeaderCellDef> SBDP </th>
                <td mat-cell *matCellDef="let element">
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 1 SBDP']?.jumlah < 65}">T1: {{element.nilaiPerTema['Tema 1 SBDP']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 2 SBDP']?.jumlah < 65}">T2: {{element.nilaiPerTema['Tema 2 SBDP']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 3 SBDP']?.jumlah < 65}">T3: {{element.nilaiPerTema['Tema 3 SBDP']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 4 SBDP']?.jumlah < 65}">T4: {{element.nilaiPerTema['Tema 4 SBDP']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 5 SBDP']?.jumlah < 65}">T5: {{element.nilaiPerTema['Tema 5 SBDP']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 6 SBDP']?.jumlah < 65}">T6: {{element.nilaiPerTema['Tema 6 SBDP']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 7 SBDP']?.jumlah < 65}">T7: {{element.nilaiPerTema['Tema 7 SBDP']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 8 SBDP']?.jumlah < 65}">T8: {{element.nilaiPerTema['Tema 8 SBDP']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 9 SBDP']?.jumlah < 65}">T9: {{element.nilaiPerTema['Tema 9 SBDP']?.jumlah}}</h5>

                    Total Nilai: {{element.nilaiPerMapel['SBDP']?.total}} <br>

                </td>
            </ng-container>

            <ng-container matColumnDef="nilaiMapel7">
                <th mat-header-cell *matHeaderCellDef> PJOK </th>
                <td mat-cell *matCellDef="let element">
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 1 PJOK']?.jumlah < 65}">T1: {{element.nilaiPerTema['Tema 1 PJOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 2 PJOK']?.jumlah < 65}">T2: {{element.nilaiPerTema['Tema 2 PJOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 3 PJOK']?.jumlah < 65}">T3: {{element.nilaiPerTema['Tema 3 PJOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 4 PJOK']?.jumlah < 65}">T4: {{element.nilaiPerTema['Tema 4 PJOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 5 PJOK']?.jumlah < 65}">T5: {{element.nilaiPerTema['Tema 5 PJOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 6 PJOK']?.jumlah < 65}">T6: {{element.nilaiPerTema['Tema 6 PJOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 7 PJOK']?.jumlah < 65}">T7: {{element.nilaiPerTema['Tema 7 PJOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 8 PJOK']?.jumlah < 65}">T8: {{element.nilaiPerTema['Tema 8 PJOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 9 PJOK']?.jumlah < 65}">T9: {{element.nilaiPerTema['Tema 9 PJOK']?.jumlah}}</h5>

                    Total Nilai: {{element.nilaiPerMapel['PJOK']?.total}} <br>

                </td>
            </ng-container>

            <ng-container matColumnDef="nilaiMapel8">
                <th mat-header-cell *matHeaderCellDef> MULOK </th>
                <td mat-cell *matCellDef="let element">
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 1 MULOK']?.jumlah < 65}">T1: {{element.nilaiPerTema['Tema 1 MULOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 2 MULOK']?.jumlah < 65}">T2: {{element.nilaiPerTema['Tema 2 MULOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 3 MULOK']?.jumlah < 65}">T3: {{element.nilaiPerTema['Tema 3 MULOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 4 MULOK']?.jumlah < 65}">T4: {{element.nilaiPerTema['Tema 4 MULOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 5 MULOK']?.jumlah < 65}">T5: {{element.nilaiPerTema['Tema 5 MULOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 6 MULOK']?.jumlah < 65}">T6: {{element.nilaiPerTema['Tema 6 MULOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 7 MULOK']?.jumlah < 65}">T7: {{element.nilaiPerTema['Tema 7 MULOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 8 MULOK']?.jumlah < 65}">T8: {{element.nilaiPerTema['Tema 8 MULOK']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 9 MULOK']?.jumlah < 65}">T9: {{element.nilaiPerTema['Tema 9 MULOK']?.jumlah}}</h5>

                    Total Nilai: {{element.nilaiPerMapel['MULOK']?.total}} <br>

                </td>
            </ng-container>

            <ng-container matColumnDef="nilaiMapel9">
                <th mat-header-cell *matHeaderCellDef> AGAMA </th>
                <td mat-cell *matCellDef="let element">
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 1 AGAMA']?.jumlah < 65}">T1: {{element.nilaiPerTema['Tema 1 AGAMA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 2 AGAMA']?.jumlah < 65}">T2: {{element.nilaiPerTema['Tema 2 AGAMA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 3 AGAMA']?.jumlah < 65}">T3: {{element.nilaiPerTema['Tema 3 AGAMA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 4 AGAMA']?.jumlah < 65}">T4: {{element.nilaiPerTema['Tema 4 AGAMA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 5 AGAMA']?.jumlah < 65}">T5: {{element.nilaiPerTema['Tema 5 AGAMA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 6 AGAMA']?.jumlah < 65}">T6: {{element.nilaiPerTema['Tema 6 AGAMA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 7 AGAMA']?.jumlah < 65}">T7: {{element.nilaiPerTema['Tema 7 AGAMA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 8 AGAMA']?.jumlah < 65}">T8: {{element.nilaiPerTema['Tema 8 AGAMA']?.jumlah}}</h5>
                    <h5 [ngClass]="{'text-danger': element.nilaiPerTema['Tema 9 AGAMA']?.jumlah < 65}">T9: {{element.nilaiPerTema['Tema 9 AGAMA']?.jumlah}}</h5>

                    Total Nilai: {{element.nilaiPerMapel['Agama']?.total}} <br>

                </td>
            </ng-container>


            <ng-container matColumnDef="total_nilai">
                <th mat-header-cell *matHeaderCellDef> Total Nilai Keseluruhan </th>
                <td mat-cell *matCellDef="let element"> {{element.totalNilai}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Pilih page dari Guru"
    class="mat-elevation-z8"></mat-paginator>
</div>