<div class="padding">
    <h1>Laporan</h1>

    <mat-form-field appearance="outline" class="field">
        <mat-label>Pencarian</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Contoh. Rui Faqri" #input>
    </mat-form-field>

    <section>
        <div class="example-button-row">
            <button mat-raised-button color="primary" (click)="cetak()">Cetak ke PDF</button>
            <button mat-raised-button color="primary" (click)="csv()">Cetak ke Excel</button>
        </div>
    </section>


    <table mat-table [dataSource]="dataLaporan" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="no">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element = index"> {{element + 1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nis">
            <th mat-header-cell *matHeaderCellDef> NIS </th>
            <td mat-cell *matCellDef="let element"> {{element.nis}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="nama">
            <th mat-header-cell *matHeaderCellDef> Nama </th>
            <td mat-cell *matCellDef="let element"> {{element.nama}} </td>
        </ng-container>

        <ng-container matColumnDef="nilaiMapel1">
            <th mat-header-cell *matHeaderCellDef> IPA </th>
            <td mat-cell *matCellDef="let element">

                Rata-Rata: <br> 
                Tema 1: {{element.nilaiPerTema['Tema 1 IPA']?.jumlah}} <br> 
                Tema 2: <br> 
                Tema 3: <br> 
                Tema 4: <br> 

                Total Nilai: {{element.nilaiPerMapel.IPA.total}} <br> 
            </td>
        </ng-container>

        <ng-container matColumnDef="nilaiMapel2">
            <th mat-header-cell *matHeaderCellDef> MTK </th>

            <!-- <td mat-cell *matCellDef="let element">
                Rata-Rata: <br>
                <ng-container *ngFor="let tema of getTemaKeysAndFilterByMapel(element.nilaiPerTema, 'MTK', laporans)">
                    {{tema}}: {{element.nilaiPerTema[tema]?.jumlah}} <br>
                  </ng-container>
                Total Nilai: {{element.nilaiPerMapel.MTK.total}} <br>
            </td> -->

            <td mat-cell *matCellDef="let element">

                Rata-Rata: <br> 
                Tema 1: <br> 
                Tema 2: <br> 
                Tema 3: <br> 
                Tema 4: <br> 

                Total Nilai: {{element.nilaiPerMapel.MTK.total}} <br> 
            </td>

        </ng-container>
        
        

        <ng-container matColumnDef="nilaiMapel3">
            <th mat-header-cell *matHeaderCellDef> Bahasa Indonesia </th>
            <td mat-cell *matCellDef="let element">
               
                Rata-Rata: <br>
                Tema 1: <br>
                Tema 2: <br>
                Tema 3: <br>
                Tema 4: <br>

                Total Nilai: {{element.nilaiPerMapel['BAHASA INDONESIA']?.total}} <br>  
            
            </td>
          </ng-container>
          

        <ng-container matColumnDef="total_nilai">
            <th mat-header-cell *matHeaderCellDef> Total Nilai Keseluruhan </th>
            <td mat-cell *matCellDef="let element"> {{element.totalNilai}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>